@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300px;
    height: auto;
    color: #5E5C5A;
    background-color: #ebe8e3;
}

/* heading and logo */

#logo {
    font-family: Poppins, sans-serif;
    color: #8D8B88;
    font-size: 230%;
    letter-spacing: 3px;
    float: left;
    margin-left: 90px;
    line-height: 95px;
    text-transform: uppercase;
}

#menu {
    font-size: 90%;
    line-height: 95px;
    letter-spacing: 2px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: #757471;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a:hover {
    border-bottom: 2px solid #464544;
}

.active {
    border-bottom: 2px solid #464544;
}

/* main image and text */

#main-image {
    height: auto;
    width: 100%;
    background: url("../images/main-desk.jpg") no-repeat, center;
    overflow: hidden;
    background-size: cover;
}

#main-text h4 {
    width: 300px;
    height: 200px;
    color: #F9F8F6;
    font-family: Poppins, sans-serif;
    font-size: 120%;
    letter-spacing: 2px;
    margin: 100px
}

/* section-text about us */

.text-about {
    width: 100%;
    height: auto;
    text-align: center;
}

#text-one {
    margin: 100px;
    padding: 10px;
    border: 5px solid #BCB9B5;
    background-color: #F3F1EE;

}

#text-two {
    margin: 100px;
    padding: 10px;
    border: 5px solid #BCB9B5;
    background-color: #F3F1EE;
}

/* list about */

.list-about {
    height: 100px;
}

#industries-left {
    width: 40%;
    margin: 10px 40px 30px 50px;
    padding: 15px;
    float: left;
    list-style: inside;
    border-style: none;
    border: 5px #BCB9B5;
    background-color: #F3F1EE;
}

#offer-right {
    width: 40%;
    margin: 10px 40px 30px 50px;
    padding: 15px;
    float: right;
    list-style: inside;
    border: 5px #BCB9B5;
    background-color: #F3F1EE;
}

/* fair times and places */

.fair-calender {
    background-image: url("../images/stockholm-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.fair-calender div {
    width: 32%;
    height: auto;
    color: whitesmoke;  
    background-color: rgba(0,0,0, .3);
    text-align: center;
    float: left;
    margin: 10px;
    padding: 50px;
    box-sizing: border-box;
}

/* prepare for a caarer fair */

.prepare-text {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#prepare-resume {
list-style: inside;
border: solid 5px #BCB9B5;
background-color: #F3F1EE;
padding: 30px;
margin: 50px;
text-align: center;
}

#prepare-interview {
    list-style: inside;
    border: solid 5px #BCB9B5;
    background-color: #F3F1EE;
    padding: 30px;
    margin: 50px;
    text-align: center;
}

#prepare-answers {
    list-style: inside;
    border: solid 5px #BCB9B5;
    background-color: #F3F1EE;
    padding: 30px;
    margin: 50px;
    text-align: center;
}

/* sign up */

.form-section {
    background: url(../images/join-us.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    clear: left;
}

.sign-up {
    color: #5E5C5A;
    max-width: 500px;
    margin: 50px;
    position: absolute;
    padding: 50px;
}

.input-info {
    width: 100%;
    height: 40px;
    color: #5E5C5A;
    margin: 10px 0 20px 0;
    border: 1px solid #5E5C5A;
    border-radius: 7px;
}

.sign-up > h2 {
    color: #5E5C5A;
    margin-bottom: 15px;
}

#sign-button {
    font-size: 100%;
    margin-top: 20px;
    background-color: #ebe8e3;
    color:#BCB9B5;
    border-radius: 2px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    display: block;
}


#gbg, #sthlm, #mmo {
    margin: 10px;
}

/* footer */

footer {
    height: 100px;
}

.social-media i {
font-size: 170%;
margin: 30px;
color: #8D8B88;

}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

/* Media queries */

@media screen and (max-width: 1500px) {
    
    .fair-calender div {
        width: 100%;
        height: 150px;
        clear: both;
        float: left;
        padding: 0;
    }
}

@media screen and (max-width: 850px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #logo {
        margin-left: 30px;
    }

}

@media screen and (max-width: 650px) {

    .sign-up {
        margin: 50px 70px 70px 30px;
        padding: 0px;
        clear: left;
        float: left;
    }

    #sthlm, #gbg, #mmo {
        margin-left: 5px;
        margin-bottom: 14x;
    }

    .form-section {
        height: 650px;
        background-size: cover;
        background-position: center;
        clear: left;
    }

}


@media screen and (max-width: 550px) {

    #menu {
        clear: left;
        float: left;
        margin: 12px;
    }

    #logo {
        font-size: 200%;
        margin-left: 12px;
    }

    #main-image {
        height: auto;
        width: 100%;
        background: url("../images/main-desk.jpg") no-repeat, center;
        overflow: hidden;
        background-size: cover;
    }
    
    #main-text h4 {
        width: 250px;
        height: 200px;
        color: #F9F8F6;
        font-family: Poppins, sans-serif;
        font-size: 100%;
        letter-spacing: 2px;
        margin: 100px 100px 100px 30px;
        float: left;
    }

    .text-about div {
        font-size: 100%;
        padding: 10px;
        margin: 20px;
    }

    #industries-left {
        margin-left: 30%;
        padding: 10px 30px 10px 20px;
        border-width: 50px;
    }

    #offer-right {
        margin-right: 30%;
        padding: 10px 30px 10px 20px;
        border-width: 50px;
    }
}

@media screen and (max-width: 375px) {

    #menu {
        font-size: 85%;
        clear: left;
        float: left;
        margin: 12px;
    }

    #logo {
        font-size: 180%;
        margin-left: 12px;
    }

    #menu li {
        float: left;
        clear: left;
    }

    .text-about div {
        font-size: 90%;
        padding: 10px;
        margin: 10px;
    }
   
    #industries-left {
        width: 200px;
        margin-left: 20%;
        margin-right: 20%;
        padding: 10px 30px 10px 20px;

    }
    
    #offer-right {
    width: 200px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 30px 10px 20px;
    
    }

    .form-section {
        height: 680px;
        background-size: cover;
        background-position: center;
        clear: left;
    }

}