@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    height: auto;
    color: #5E5C5A;
    background-color: #ebe8e3;
}

/* heading and logo */

#logo {
    font-family: Poppins, sans-serif;
    color: #8D8B88;
    font-size: 230%;
    letter-spacing: 3px;
    float: left;
    margin-left: 90px;
    line-height: 95px;
    text-transform: uppercase;
}

#menu {
    font-size: 90%;
    line-height: 95px;
    letter-spacing: 2px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: #757471;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a:hover {
    border-bottom: 2px solid #464544;
}

.active {
    border-bottom: 2px solid #464544;
}

/* main image and text */

#main-image {
    height: auto;
    width: 100%;
    background: url("../images/main-desk.jpg") no-repeat, center;
    overflow: hidden;
    background-size: cover;
}

#main-text h4 {
    width: 300px;
    height: 200px;
    color: #F9F8F6;
    font-family: Poppins, sans-serif;
    font-size: 120%;
    letter-spacing: 2px;
    margin: 100px
}

/* section-text about us */

.text-about {
    width: 100%;
    height: auto;
    text-align: center;
}

#text-one {
    margin: 100px;
    padding: 10px;
    border: 5px solid #BCB9B5;
    background-color: #F3F1EE;

}

#text-two {
    margin: 100px;
    padding: 10px;
    border: 5px solid #BCB9B5;
    background-color: #F3F1EE;
}

/* list about */

.list-about {
    height: 100px;
}

#industries-left {
    width: 40%;
    margin: 10px 40px 30px 50px;
    padding: 15px;
    float: left;
    list-style: inside;
    border-style: none;
    float: left;
    border: 5px #BCB9B5;
    background-color: #F3F1EE;
}

#offer-right {
    width: 40%;
    margin: 10px 40px 30px 50px;
    padding: 15px;
    float: right;
    list-style: inside;
    float: right;
    border: 5px #BCB9B5;
    background-color: #F3F1EE;
}
